
.button.button--primary{background: #232936; border: 1px solid #232936; color: #fff;}
.button.button--primary:hover, .button.button--primary:focus {background: transparent; border: 1px solid #232936; color: #232936;}

.button.button--secondary{background: transparent; border: 1px solid #232936; color: #232936;}
.button.button--secondary:hover, .button.button--secondary:focus {background: #232936; border: 1px solid #232936; color: #fff;}

.banner__buttons .button.button--primary{background: #fff; border: 1px solid #fff; color: #232936;}
.banner__buttons .button.button--primary:hover, .button.button--primary:focus {background: transparent; border: 1px solid #fff; color: #fff;}

.banner__buttons .button.button--secondary{background: transparent; border: 1px solid #fff; color: #fff;}
.banner__buttons .button.button--secondary:hover, .button.button--secondary:focus {background: #232936; border: 1px solid #232936; color: #fff;}




/* footer */
.footer .footer-block .footer-block__heading{color:#232936;}
.footer-block__details-content .list-menu__item--link, .copyright__content a{color:#4F5861;}
.footer .newsletter-form__field-wrapper .newsletter-form__button{background:#232936 !important; color:#fff;}
.footer .newsletter-form__field-wrapper .field__label{color:#737373;}
.footer .newsletter-form__field-wrapper .field__input{color:#232936;}


/* blog */
/* .blog .article-card__info.caption-with-letter-spacing{color:#4F5861;} */
.blog .read-more{color:#232936;}

































