
.button.button--primary{background: #232936; border: 1px solid #232936; color: #fff;}
.button.button--primary:hover, .button.button--primary:focus {background: transparent; border: 1px solid #232936; color: #232936;}
.button.button--secondary{background: transparent; border: 1px solid #232936; color: #232936;}
.button.button--secondary:hover, 
.button.button--secondary:focus {background: #232936; border: 1px solid #232936; color: #fff;}
.banner__buttons .button.button--primary{background: #fff; border: 1px solid #fff; color: #232936;}
.banner__buttons .button.button--primary:hover, .banner__buttons .button.button--primary:focus {background: transparent; border: 1px solid #fff; color: #fff;}
.banner__buttons .button.button--secondary{background: transparent; border: 1px solid #fff; color: #fff;}
.banner__buttons .button.button--secondary:hover, .banner__buttons .button.button--secondary:focus {background: #232936; border: 1px solid #232936; color: #fff;}

.color-accent-2 .button.button--secondary{background: #fff; border: 1px solid #fff; color: #232936;}
.color-accent-2 .button.button--secondary:hover, .color-accent-2 .button.button--secondary:focus {background: transparent; border: 1px solid #fff; color: #fff;}

.color-accent-2 .button.button--primary{background: #232936; border: 1px solid #232936; color: #fff;}
.color-accent-2 .button.button--primary:hover, .color-accent-2 .button.button--primary:focus {background: transparent; border: 1px solid #fff; color: #fff;}

h2, .h0, h2, .h1, h2, .h2{color: #232936;}
/* .banner__box .banner__heading{color: #fff;} */

/* header */
.topmenu li.active{background:#fff; color: #232936;}
.topmenu li{color: #fff;}

/* cart drawer */
.drawer__inner .cart-item__name{color: #212121;}
.quantity__input{color:#232936;}
.cart-item__quantity-wrapper .button.button--tertiary{color: #919191;}
.cart-drawer__footer .totals__subtotal, .cart-drawer__footer .totals__subtotal-value,
.cart-drawer__footer .discount-t, .cart-drawer__footer .discount-value{color: #232936;}

/* mega menu */
.mega-menu__content .subscribe-wrap h3, .mega-menu__content .subscribe-wrap a{color: #232936;}
.megamenu-image-wrap .content__wrap h2{color: #fff;}
.megamenu .mega-menu__list .mega-menu__link{color: #232936;}



/* footer */
.footer .footer-block .footer-block__heading{color:#232936;}
.footer-block__details-content .list-menu__item--link, .copyright__content a{color:#4F5861;}
.footer .newsletter-form__field-wrapper .newsletter-form__button{background:#232936 !important; color:#fff;}
.footer .newsletter-form__field-wrapper .field__label{color:#737373;}
.footer .newsletter-form__field-wrapper .field__input{color:#232936;}


/* blog */
/* .blog .article-card__info.caption-with-letter-spacing{color:#4F5861;} */
.blog .read-more{color:#232936;}

 /* collection */
 .facets-container .facets__summary, summary .icon-caret, 
 .facets-container .facets__heading,
 .facet-filters__label, .product-count__text, .facets-container .facet-filters__sort{color:#232936 !important;}
 .facets-container .mobile-facets__open{background: #232936; color: #fff;}
 .mobile-facets__header .mobile-facets__count{color:#4F5861;}
 .mobile-facets__clear-wrapper .mobile-facets__clear,  
 .mobile-facets .mobile-facets__summary, .mobile-facets__label, .facets__reset{color: #232936;}
 .mobile-facets__sort .select__select{color: #4F5861;}
 .mobile-facets__open:hover{color: #fff !important; text-decoration: none;}
.facets__selected{color: #4F5861;}
.card__information .card__heading, #product-grid .text-btn-wrap h2, #product-grid .text-btn-wrap h3, .more-btn{color: #232936;}
.card__information .caption-large{color: #4F5861;}
.price .price-item--sale{color:#4F5861;}
.price--on-sale .price-item--regular{color: #C51918;}
.load-more-wrapper .load-more.button{background: #232936;}
.card__badge .badge{color: #6D889F;}
span.metafield_weight{color: #232936;}

/* product page */
.product .product__title h1, 
.product .product-form__input .form__label{color:#232936;}
.yotpo .text-m{color: #4F5861!important;}
.product .product__description{color: #4F5861;}
.product .product-form__input input[type=radio]:checked+label{background: #fff; color: #232936; border: 1px solid #232936;}
.product .product-form__input input[type=radio]+label{color: #4F5861; border: 1px solid #BDBFC3;}
.yotpo-widget-subscriptions-add-to-cart .yotpo-selected .yotpo-subscription-label-price{color: #C51918 !important;}

.shopify-payment-button__button{background: transparent !important; border: 1px solid #232936!important; color: #232936!important;}
.shopify-payment-button__button:hover,
.shopify-payment-button__button:focus {background: #232936!important; border: 1px solid #232936!important; color: #fff!important;}
.yotpo-widget-subscriptions-add-to-cart .yotpo-subscription-label-price{color: #4F5861 !important;}
.yotpo-widget-subscriptions-add-to-cart .yotpo-radio-and-dropdown-label{color: #232936 !important;}




