body{
    font-family: 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
  }

@font-face {
    font-family: 'Adobe Garamond Pro';
    src: url('https://cdn.shopify.com/s/files/1/0683/6374/7618/files/AGaramondPro-Regular.woff2?v=1677566683.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0683/6374/7618/files/AGaramondPro-Regular.woff?v=1677566683.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Adobe Garamond Pro';
    src: url('https://cdn.shopify.com/s/files/1/0683/6374/7618/files/AGaramondPro-Bold.woff2?v=1677566504.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0683/6374/7618/files/AGaramondPro-Bold.woff?v=1677566504.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

  h1, h2, h3, h4, h5, .h0, .h1, .h2, .h3, .h4, .h5{
    font-weight: 400;
    letter-spacing: 0;
    font-family: 'Adobe Garamond Pro';
  }
  /* for global use */
  .full-width {
    width: 100%;
    display: grid;
    margin: 0;
    padding: 0 40px;
  }
  ::-webkit-placeholder {
    color: #737373;
  }
  ::-moz-placeholder {
    color: #737373;
  }
  ::-ms-placeholder {
    color: #737373;
  }
  ::placeholder { 
    color: #737373;
    opacity: 1;
  }
  /* ::-moz-selection {color: #fff; background: #114D80;}
  ::selection {color: #fff; background: #114D80;} */
  
  * {
      -webkit-tap-highlight-color: transparent;
    }
    
*:focus-visible {outline: none; box-shadow: none;}
a.button {cursor: pointer;}

    .d-flex {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
    }
     
    .flex-align-center {
      -webkit-align-items: center;
      align-items: center;
    }
    
    .flex-justify-content-center {
      -webkit-justify-content: center;
      justify-content: center;
    }
    
    .flex-justify-content-space-between {
      -webkit-justify-content: space-between;
      justify-content: space-between;
    }
    
    
    @media screen and (max-width: 749px) {
      .small-flex-justify-content-center {
        -webkit-justify-content: center;
        justify-content: center;
      }
    
      .small-flex-justify-content-start {
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
      }
    
      .small-flex-justify-content-space-between {
        -webkit-justify-content: space-between;
        justify-content: space-between;
      }
    
      .small-flex-justify-content-end {
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
      }
    }
    
    @media screen and (min-width: 750px) and (max-width: 989px) {
      .medium-flex-justify-content-center {
        -webkit-justify-content: center;
        justify-content: center;
      }
    
      .medium-flex-justify-content-start {
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
      }
    
      .medium-flex-justify-content-space-between {
        -webkit-justify-content: space-between;
        justify-content: space-between;
      }
    
      .medium-flex-justify-content-end {
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
      }
    } 
    
    
    
    
    @media screen and (min-width: 990px) {
      .large-flex-justify-content-center {
        -webkit-justify-content: center;
        justify-content: center;
      }
    
      .large-flex-justify-content-start {
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
      }
    
      .large-flex-justify-content-space-between {
        -webkit-justify-content: space-between;
        justify-content: space-between;
      }
    
      .large-flex-justify-content-end {
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
      }
    }
    
    /* .field:after,
    .select:after,
    .customer .field:after,
    .customer select:after,
    .localization-form__select:after {
      display: none;
    }
    
    .field:before,
    .select:before,
    .customer .field:before,
    .customer select:before,
    .localization-form__select:before {
      display: none;
    }
    
    .link,
    .customer a {
      text-decoration: none;
    } */
 
/* global css */
h2, .h0 {font-size: 5rem; font-weight: 400; line-height: 57px;}
h2, .h1 {font-size: 3.5rem; font-weight: 400; line-height: 42px;}
h2, .h2 {font-size: 3rem; font-weight: 400; line-height: 37px;}
p{font-size: 1.3rem; font-weight: 400; line-height: 17px; letter-spacing: 0;}   

.button{font-style: normal; font-weight: 400; font-size: 1.4rem; line-height: 14px; letter-spacing: 1px; text-transform: uppercase; border: 1px solid #fff;}
.button:before, .button:after{display: none;}
.field:after, .select:after, .customer .field:after, .customer select:after, .localization-form__select:after{display:none;}
.field input, .select, .customer .field input, .customer select, .localization-form__select{border-bottom:1px solid #232936;}
.field__input:focus, .select__select:focus, .customer .field input:focus, .customer select:focus, .localization-form__select:focus.localization-form__select:after{
  box-shadow: none; border-bottom: 1px solid #519DFC;
}
input:-internal-autofill-selected{background: transparent;}

 

@media(max-width:749px){
h2, .h0 {font-size: 4rem; line-height: 47px;}
h2, .h1 {font-size: 2.8rem; line-height: 35px;}
h2, .h2 {font-size: 2.4rem; line-height: 31px;}

}
 
/* announcement bar */
.topmenu li {font-size: 1.8rem; font-family: 'Adobe Garamond Pro'; text-align: center; list-style: none; padding: .6rem 1.7rem; font-weight: 400; letter-spacing: 0;}
.announcement-bar__message {width: 100%; padding: 1.2rem 0; font-size: 1.2rem; font-weight: 400; text-transform: uppercase; letter-spacing: 1px; font-family: 'Arial';}
.topmenu {display: flex; align-items: center; position: absolute; z-index: 999; top: -19.5px;}
.topmenu ul {padding: 0; margin: 0; position: absolute;}
.section-header.shopify-section-group-header-group {
  z-index: 4;
}

@media(min-width:750px){
  .topmenu li{min-width: 120px;}
}
 
@media(min-width:989px){
  .announcement-bar .page-width, .topmenu.page-width{padding: 0 4rem;}
}

/* blog section */
.article-card .card__heading{min-height: 50px;}
.article-card .card__heading, .article-template .article-template__title {font-size: 2.2rem; font-weight: 400; line-height: 2.6rem;}
.article-card__excerpt, .article-template .article-template__content{font-size: 1.5rem; font-weight: 400; line-height: 21px; letter-spacing: 0.2px;}
.article-card__info.caption-with-letter-spacing, .circle-divider.caption-with-letter-spacing{font-size: 1.2rem; font-weight: 400; line-height: 21px; letter-spacing: 1px; text-transform: uppercase; font-family: 'Arial';}
.blog .read-more{font-size: 1.3rem; font-weight: 400; text-decoration-thickness: 1px; text-underline-offset: 3px; text-decoration: underline;}
.blog .read-more:hover, .blog .read-more:focus{text-decoration: none;}
.blog .card__heading a:after{display: none;}

/* image width text */ 
.banner__buttons_custom{display: inline-flex; flex-wrap: wrap; gap: 1.6rem; word-break: break-word; margin-top:3.5rem !important;}
.w-100{width:100%;}

/* cart drawer */
.quantity__button:focus, .quantity__input:focus{background: transparent;}
.cart-item__quantity-wrapper .button.button--tertiary{min-height: unset; margin-bottom: 0; line-height: 0px; font-size: 10px; font-weight: 400;}
.cart-item__quantity-wrapper .button.button--tertiary svg{margin-right:5px;}
.cart-drawer .drawer__inner{padding: 0;}
.cart-drawer .drawer__inner .drawer__header{padding: 1.5rem 2.4rem;}
.cart-drawer .cart-drawer__form{padding: 0 2.4rem;}
.cart-drawer .drawer__footer{padding: 2.8rem 2.4rem 2.4rem 2.4rem;}
.cart-drawer .drawer__footer{box-shadow: 0px -2px 8px rgb(0 0 0 / 5%);}

/* mega menu */
.megamenu-content-wrap{column-gap: 40px; display: flex;}
.megamenu-image-wrap{display: flex; column-gap: 40px; border-left: 1px solid #E2E2E2; padding-left: 40px; margin-left:4rem;}
.megamenu-content-wrap ul.mega-menu__list.mega-menu__list--condensed {display: inline-block;}
.megamenu-content-wrap ul.mega-menu__list{padding-left: 0; flex: 1;}
.megamenu-content-wrap ul.mega-menu__list li{flex: 1;}
nav.header__inline-menu.megamenu {display: none;}

.subscribe-wrap {background: #F3F0EA; padding: 20px; max-width: 300px; min-width: 300px; text-align: center; display: flex; flex-wrap: wrap; align-items: center; justify-content: center; flex-direction: column;}
.mega-menu__content .subscribe-wrap h3{font-weight: 400; font-size: 1.2rem; letter-spacing: 1px; text-transform: uppercase; font-family: 'Arial'; margin:0;}
.mega-menu__content .subscribe-wrap h2{font-weight: 400; font-size: 2.5rem; margin:2px 0 14px; line-height: 3rem;}
.mega-menu__content .subscribe-wrap a{font-weight: 400; font-size: 1.3rem; text-decoration: underline; text-decoration-thickness: 1px; text-underline-offset: 3px;}
.mega-menu__content .subscribe-wrap a:hover, .mega-menu__content .subscribe-wrap a:focus{text-decoration: none;}
.megamenu-image-wrap .image-wrap{position: relative;}
.megamenu-image-wrap .image-wrap .content__wrap{position:absolute; top: 32px; bottom: 32px; display: flex; flex-wrap: wrap; align-items: center; justify-content: center; left: 0; right: 0; margin: 0 auto; z-index: 2; width: calc(100% - 40px);}
.megamenu-image-wrap .content__wrap h2{font-weight: 400; font-size: 2.5rem; margin:5px 0; text-align: center; line-height: 3rem;}
.megamenu .mega-menu__list {display: flex; gap: 2.4rem 4rem; list-style: none;}
.mega-menu[open] .mega-menu__content{display:flex; margin: 0 9rem; padding: 4rem; justify-content: space-between; box-shadow: 0px 2px 6px rgb(0 0 0 / 15%);}
.m-top-gap{margin-top: 60px;}
.megamenu .mega-menu__list.mega-menu__list--condensed .mega-menu__link{font-weight: 400; letter-spacing: 0.2px; font-size: 1.5rem;}
.megamenu .mega-menu__list .mega-menu__link.mega-menu__link--level-2{font-weight: 400; letter-spacing: 0; margin-bottom: 0; font-size: 2rem; font-family: 'Adobe Garamond Pro';}
.megamenu .mega-menu__list.mega-menu__list--condensed .mega-menu__link.mega-menu__link--level-2{font-family: 'Arial'; font-weight: 400; letter-spacing: 0.2px; font-size: 1.5rem;}
.mega-menu__link--level-2:not(:only-child){padding-top: 0;}
@media(min-width:1024px) and (max-width:1366px){
.megamenu .mega-menu__content{overflow-y: auto;}
}


@media(min-width:989px){
  nav.header__inline-menu.megamenu.active {display: block;}
  .megamenu-content-wrap{width:100%;}
}

 /* collection filter */
.facets-container .facets__summary, .facets-container .facets__heading,
.facet-filters__label, .product-count__text, .facets-container .facet-filters__sort{font-weight: 400; font-family: 'Arial'; font-size: 1.2rem !important; text-transform: uppercase; letter-spacing: 1px;}
.facets-container .facet-filters__label{margin-right:0;}
summary .icon-caret{height: 0.5rem;}
.facets-container .facet-filters__field .select{border-bottom: none;}
.facets-container .select__select:focus{border-bottom: none;}
.facets-container .facet-filters__sort:focus-visible{outline: none; box-shadow: none;}
.facets-container .facet-filters__field .select__select{padding: 0px 7px;}
.facets-container .facets__form .product-count{opacity: 1;}
/* mobile */
@media(max-width:749px){
  .facets-container .mobile-facets__open{padding: 11px 20px; letter-spacing: 1px; text-transform: uppercase; align-items: center; justify-content: center;}
  .facets-container{display: flex !important; flex-wrap: wrap;}
  .mobile-facets__wrapper, .mobile-facets__disclosure{width: 100%;}
  .mobile-facets__header .mobile-facets__heading{font-weight: 400; font-size: 2rem;}
  .mobile-facets__header .mobile-facets__count{font-weight: 400; font-size: 13px;}
  .mobile-facets__footer .button.button--primary{width:auto; min-width: auto;}
  .mobile-facets__clear-wrapper .mobile-facets__clear{font-weight: 400; font-size: 1.5rem;}
  .mobile-facets .mobile-facets__summary, .mobile-facets .mobile-facets__close-button{font-weight: 400; font-size: 1.2rem; letter-spacing: 0.2px; text-transform: uppercase;}
  .mobile-facets__summary svg,
  .mobile-facets__close-button .icon-arrow{width: 2.5rem;}
  .mobile-facets__arrow, .mobile-facets__summary .icon-caret{display: inherit !important;}
  .mobile-facets__sort .select__select:focus-visible{outline: none; box-shadow: none;}
  .mobile-facets .mobile-facets__sort .select{border-bottom: none;}
  .mobile-facets__sort .select__select{font-weight: 400; font-family: 'Arial'; font-size: 1.2rem !important; text-transform: uppercase; letter-spacing: 1px;}
  .mobile-facets__sort{justify-content: flex-start !important;}

}

/* collection grid */
.collection-grid-image-con {position: absolute; top: 0; bottom: 0; left: 0; right: 0; padding: 0 3rem; display: flex; align-items: center; justify-content: center; text-align: center;}
.card__badge .badge {border-left: 2px solid #6D889F!important; border-radius: unset;}
.card__badge .badge {background: transparent; border: none; color: #6D889F; padding-left: 10px;}

.card__information .card__heading{font-weight: 400; font-size: 2rem;}
.card__information .caption-large{font-size: 1.3rem; font-weight: 400; letter-spacing: 0; line-height: 17px;} 
#product-grid .button{min-height: calc(4rem + var(--buttons-border-width) * 2);}
.price .price-item--sale{font-size: 1.3rem; font-weight: 400; letter-spacing: 0;}
#product-grid .text-btn-wrap h3{font-weight: 400; font-size: 1.2rem; letter-spacing: 1px; font-family: 'Arial'; text-transform: uppercase; margin: 0; line-height: 15px;}
#product-grid .text-btn-wrap h2{font-weight: 400; font-size: 2.5rem; line-height: 3rem; margin-top:5px; margin-bottom: 16px;}
.more-btn{font-weight: 400; font-size: 1.3rem; text-decoration: underline; text-underline-offset: 3px; text-decoration-thickness: 1px;}
.more-btn:hover, .more-btn:focus{text-decoration: none;}
.collection .load-more-wrapper{margin-top:8rem;}


@media(max-width:749px){
#product-grid .text-btn-wrap h2{font-size: 2.2rem; line-height: 2.6rem;}
.collection-grid-image-con {padding: 0 2rem;}
}


 
  
 
























