body{
    font-family: 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
  }

@font-face {
    font-family: 'Adobe Garamond Pro';
    src: url('https://cdn.shopify.com/s/files/1/0683/6374/7618/files/AGaramondPro-Regular.woff2?v=1677566683.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0683/6374/7618/files/AGaramondPro-Regular.woff?v=1677566683.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Adobe Garamond Pro';
    src: url('https://cdn.shopify.com/s/files/1/0683/6374/7618/files/AGaramondPro-Bold.woff2?v=1677566504.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0683/6374/7618/files/AGaramondPro-Bold.woff?v=1677566504.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

  h1, h2, h3, h4, h5, .h0, .h1, .h2, .h3, .h4, .h5{
    font-weight: 400;
    letter-spacing: 0;
    font-family: 'Adobe Garamond Pro';
  }
  /* for global use */
  .full-width {
    width: 100%;
    display: grid;
    margin: 0;
    padding: 0 40px;
  }
  ::-webkit-placeholder {
    color: #737373;
  }
  ::-moz-placeholder {
    color: #737373;
  }
  ::-ms-placeholder {
    color: #737373;
  }
  ::placeholder { 
    color: #737373;
    opacity: 1;
  }
  /* ::-moz-selection {color: #fff; background: #114D80;}
  ::selection {color: #fff; background: #114D80;} */
  
  * {
      -webkit-tap-highlight-color: transparent;
    }
    
*:focus-visible {outline: none; box-shadow: none;}
a.button {cursor: pointer;}

    .d-flex {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
    }
     
    .flex-align-center {
      -webkit-align-items: center;
      align-items: center;
    }
    
    .flex-justify-content-center {
      -webkit-justify-content: center;
      justify-content: center;
    }
    
    .flex-justify-content-space-between {
      -webkit-justify-content: space-between;
      justify-content: space-between;
    }
    
    
    @media screen and (max-width: 749px) {
      .small-flex-justify-content-center {
        -webkit-justify-content: center;
        justify-content: center;
      }
    
      .small-flex-justify-content-start {
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
      }
    
      .small-flex-justify-content-space-between {
        -webkit-justify-content: space-between;
        justify-content: space-between;
      }
    
      .small-flex-justify-content-end {
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
      }
    }
    
    @media screen and (min-width: 750px) and (max-width: 989px) {
      .medium-flex-justify-content-center {
        -webkit-justify-content: center;
        justify-content: center;
      }
    
      .medium-flex-justify-content-start {
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
      }
    
      .medium-flex-justify-content-space-between {
        -webkit-justify-content: space-between;
        justify-content: space-between;
      }
    
      .medium-flex-justify-content-end {
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
      }
    } 
    
    
    
    
    @media screen and (min-width: 990px) {
      .large-flex-justify-content-center {
        -webkit-justify-content: center;
        justify-content: center;
      }
    
      .large-flex-justify-content-start {
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
      }
    
      .large-flex-justify-content-space-between {
        -webkit-justify-content: space-between;
        justify-content: space-between;
      }
    
      .large-flex-justify-content-end {
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
      }
    }
    
    /* .field:after,
    .select:after,
    .customer .field:after,
    .customer select:after,
    .localization-form__select:after {
      display: none;
    }
    
    .field:before,
    .select:before,
    .customer .field:before,
    .customer select:before,
    .localization-form__select:before {
      display: none;
    }
    
    .link,
    .customer a {
      text-decoration: none;
    } */
 
/* global css */
h2, .h0 {font-size: 5rem; font-weight: 400; line-height: 57px;}
h2, .h1 {font-size: 3.5rem; font-weight: 400; line-height: 42px;}
h2, .h2 {font-size: 3rem; font-weight: 400; line-height: 37px;}
p{font-size: 1.3rem; font-weight: 400; line-height: 17px; letter-spacing: 0;}   

.button{font-style: normal; font-weight: 400; font-size: 1.4rem; line-height: 14px; letter-spacing: 1px; text-transform: uppercase; border: 1px solid #fff;}
.button:before, .button:after{display: none;}
.field:after, .select:after, .customer .field:after, .customer select:after, .localization-form__select:after{display:none;}
.field input, .select, .customer .field input, .customer select, .localization-form__select{border-bottom:1px solid #232936;}
.field__input:focus, .select__select:focus, .customer .field input:focus, .customer select:focus, .localization-form__select:focus.localization-form__select:after{
  box-shadow: none; border-bottom: 1px solid #519DFC;
}
input:-internal-autofill-selected{background: transparent;}
.hide{display: none;}
 

@media(max-width:749px){
h2, .h0 {font-size: 4rem; line-height: 47px;}
h2, .h1 {font-size: 2.8rem; line-height: 35px;}
h2, .h2 {font-size: 2.4rem; line-height: 31px;}

}
 
/* announcement bar */
.topmenu li {font-size: 1.8rem; font-family: 'Adobe Garamond Pro'; text-align: center; list-style: none; padding: .6rem 1.7rem; font-weight: 400; letter-spacing: 0;}
.announcement-bar__message {width: 100%; padding: 1.2rem 0; font-size: 1.2rem; font-weight: 400; text-transform: uppercase; letter-spacing: 1px; font-family: 'Arial';}
.topmenu {display: flex; align-items: center; position: absolute; z-index: 999; top: -19.5px;}
.topmenu ul {padding: 0; margin: 0; position: absolute;}
.section-header.shopify-section-group-header-group {
  z-index: 4;
}

@media(min-width:750px){
  .topmenu li{min-width: 120px;}
}
 
@media(min-width:989px){
  .announcement-bar .page-width, .topmenu.page-width{padding: 0 4rem;}
}

/* blog section */
.article-card .card__heading{min-height: 50px;}
.article-card .card__heading, .article-template .article-template__title {font-size: 2.2rem; font-weight: 400; line-height: 2.6rem;}
.article-card__excerpt, .article-template .article-template__content{font-size: 1.5rem; font-weight: 400; line-height: 21px; letter-spacing: 0.2px;}
.article-card__info.caption-with-letter-spacing, .circle-divider.caption-with-letter-spacing{font-size: 1.2rem; font-weight: 400; line-height: 21px; letter-spacing: 1px; text-transform: uppercase; font-family: 'Arial';}
.blog .read-more{font-size: 1.3rem; font-weight: 400; text-decoration-thickness: 1px; text-underline-offset: 3px; text-decoration: underline;}
.blog .read-more:hover, .blog .read-more:focus{text-decoration: none;}
.blog .card__heading a:after{display: none;}

/* image width text */ 
.banner__buttons_custom{display: inline-flex; flex-wrap: wrap; gap: 1.6rem; word-break: break-word; margin-top:3.5rem !important;}
.w-100{width:100%;}

/* cart drawer */
.quantity__button:focus, .quantity__input:focus{background: transparent;}
.cart-item__quantity-wrapper .button.button--tertiary{min-height: unset; margin-bottom: 0; line-height: 0px; font-size: 10px; font-weight: 400;}
.cart-item__quantity-wrapper .button.button--tertiary svg{margin-right:5px;}
.cart-drawer .drawer__inner{padding: 0;}
.cart-drawer .drawer__inner .drawer__header{padding: 1.5rem 2.4rem;}
.cart-drawer .cart-drawer__form{padding: 0 2.4rem;}
.cart-drawer .drawer__footer{padding: 2.8rem 2.4rem 2.4rem 2.4rem;}
.cart-drawer .drawer__footer{box-shadow: 0px -2px 8px rgb(0 0 0 / 5%);}

/* mega menu */
.megamenu-content-wrap{column-gap: 40px; display: flex;}
.megamenu-image-wrap{display: flex; column-gap: 40px; border-left: 1px solid #E2E2E2; padding-left: 40px; margin-left:4rem;}
.megamenu-content-wrap ul.mega-menu__list.mega-menu__list--condensed {display: inline-block;}
.megamenu-content-wrap ul.mega-menu__list{padding-left: 0; flex: 1;}
.megamenu-content-wrap ul.mega-menu__list li{flex: 1;}
nav.header__inline-menu.megamenu {display: none;}

.subscribe-wrap {background: #F3F0EA; padding: 20px; max-width: 300px; min-width: 300px; text-align: center; display: flex; flex-wrap: wrap; align-items: center; justify-content: center; flex-direction: column;}
.mega-menu__content .subscribe-wrap h3{font-weight: 400; font-size: 1.2rem; letter-spacing: 1px; text-transform: uppercase; font-family: 'Arial'; margin:0;}
.mega-menu__content .subscribe-wrap h2{font-weight: 400; font-size: 2.5rem; margin:2px 0 14px; line-height: 3rem;}
.mega-menu__content .subscribe-wrap a{font-weight: 400; font-size: 1.3rem; text-decoration: underline; text-decoration-thickness: 1px; text-underline-offset: 3px;}
.mega-menu__content .subscribe-wrap a:hover, .mega-menu__content .subscribe-wrap a:focus{text-decoration: none;}
.megamenu-image-wrap .image-wrap{position: relative;}
.megamenu-image-wrap .image-wrap .content__wrap{position:absolute; top: 32px; bottom: 32px; display: flex; flex-wrap: wrap; align-items: center; justify-content: center; left: 0; right: 0; margin: 0 auto; z-index: 2; width: calc(100% - 40px);}
.megamenu-image-wrap .content__wrap h2{font-weight: 400; font-size: 2.5rem; margin:5px 0; text-align: center; line-height: 3rem;}
.megamenu .mega-menu__list {display: flex; gap: 2.4rem 4rem; list-style: none;}
.mega-menu[open] .mega-menu__content{display:flex; margin: 0 9rem; padding: 4rem; justify-content: space-between; box-shadow: 0px 2px 6px rgb(0 0 0 / 15%);}
.m-top-gap{margin-top: 60px;}
.megamenu .mega-menu__list.mega-menu__list--condensed .mega-menu__link{font-weight: 400; letter-spacing: 0.2px; font-size: 1.5rem;}
.megamenu .mega-menu__list .mega-menu__link.mega-menu__link--level-2{font-weight: 400; letter-spacing: 0; margin-bottom: 0; font-size: 2rem; font-family: 'Adobe Garamond Pro';}
.megamenu .mega-menu__list.mega-menu__list--condensed .mega-menu__link.mega-menu__link--level-2{font-family: 'Arial'; font-weight: 400; letter-spacing: 0.2px; font-size: 1.5rem;}
.mega-menu__link--level-2:not(:only-child){padding-top: 0;}
@media(min-width:1024px) and (max-width:1366px){
.megamenu .mega-menu__content{overflow-y: auto;}
}


@media(min-width:989px){
  nav.header__inline-menu.megamenu.active {display: block;}
  .megamenu-content-wrap{width:100%;}
}

 /* collection filter */
.facets-container .facets__summary, .facets-container .facets__heading,
.facet-filters__label, .product-count__text, .facets-container .facet-filters__sort{font-weight: 400; font-family: 'Arial'; font-size: 1.2rem !important; text-transform: uppercase; letter-spacing: 1px;}
.facets-container .facet-filters__label{margin-right:0;}
summary .icon-caret{height: 0.5rem;}
.facets-container .facet-filters__field .select{border-bottom: none;}
.facets-container .select__select:focus{border-bottom: none;}
.facets-container .facet-filters__sort:focus-visible{outline: none; box-shadow: none;}
.facets-container .facet-filters__field .select__select{padding: 0px 7px;}
.facets-container .facets__form .product-count{opacity: 1;}
/* mobile */
@media(max-width:749px){
  .facets-container .mobile-facets__open{padding: 11px 20px; letter-spacing: 1px; text-transform: uppercase; align-items: center; justify-content: center;}
  .facets-container .mobile-facets__open .button-label{font-size: 1.4rem; }
  .facets-container{display: flex !important; flex-wrap: wrap;}
  .mobile-facets__wrapper, .mobile-facets__disclosure{width: 100%;}
  .mobile-facets__header .mobile-facets__heading{font-weight: 400; font-size: 2rem;}
  .mobile-facets__header .mobile-facets__count{font-weight: 400; font-size: 13px;}
  .mobile-facets__footer .button.button--primary{width:auto; min-width: auto;}
  .mobile-facets__clear-wrapper .mobile-facets__clear{font-weight: 400; font-size: 1.5rem;}
  .mobile-facets .mobile-facets__summary, .mobile-facets .mobile-facets__close-button{font-weight: 400; font-size: 1.2rem; letter-spacing: 0.2px; text-transform: uppercase;}
  .mobile-facets__summary svg,
  .mobile-facets__close-button .icon-arrow{width: 2.5rem;}
  .mobile-facets__arrow, .mobile-facets__summary .icon-caret{display: inherit !important;}
  .mobile-facets__sort .select__select:focus-visible{outline: none; box-shadow: none;}
  .mobile-facets .mobile-facets__sort .select{border-bottom: none;}
  .mobile-facets__sort .select__select{font-weight: 400; font-family: 'Arial'; font-size: 1.2rem !important; text-transform: uppercase; letter-spacing: 1px;}
  .mobile-facets__sort{justify-content: flex-start !important;}

}

/* collection grid */
.collection-grid-image-con {position: absolute; top: 0; bottom: 0; left: 0; right: 0; padding: 0 3rem; display: flex; align-items: center; justify-content: center; text-align: center;}
.card__badge .badge {border-left: 2px solid #6D889F!important; font-size: 1.2rem; border-radius: unset; text-transform: uppercase; background: transparent; border: none; letter-spacing: 1px; padding-left: 10px;}
span.metafield_weight {font-family: 'Arial';font-style: normal;font-weight: 400;font-size: 13px;line-height: normal;}

.card__information .card__heading{font-weight: 400; font-size: 2rem; margin-bottom: 5px;}
.card__information .caption-large{font-size: 1.3rem; padding-top: 6px; font-weight: 400; letter-spacing: 0; line-height: 17px; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; width: auto; overflow: hidden;} 
#product-grid .button{min-height: calc(4rem + var(--buttons-border-width) * 2);}
.price .price-item--sale{font-size: 1.3rem; font-weight: 400; letter-spacing: 0;}
#product-grid .text-btn-wrap h3{font-weight: 400; font-size: 1.2rem; letter-spacing: 1px; font-family: 'Arial'; text-transform: uppercase; margin: 0; line-height: 15px;}
#product-grid .text-btn-wrap h2{font-weight: 400; font-size: 2.5rem; line-height: 3rem; margin-top:5px; margin-bottom: 16px;}
.more-btn{font-weight: 400; font-size: 1.3rem; text-decoration: underline; text-underline-offset: 3px; text-decoration-thickness: 1px;}
.more-btn:hover, .more-btn:focus{text-decoration: none;}
.collection .load-more-wrapper{margin-top:.8rem;}


@media(min-width:990px){
  .collection .grid {column-gap: 80px; row-gap:40px;}
  .collection .grid--3-col-desktop .grid__item {
      width: calc(33.33% - 80px * 2 / 3);
      max-width: calc(33.33% - 80px * 2 / 3);
  }
  }
  .load-more-wrapper .load-more.button{padding: 0 1.4rem;width: 194px;}
  @media(max-width:989px){
  .collection .grid {row-gap: 30px; margin-top: 2rem;}
  #product-grid .text-btn-wrap h2{font-size: 2.2rem; line-height: 2.6rem;}
  .collection-grid-image-con {padding: 0 2rem;}
  .collection .load-more-wrapper{margin-top:0.8rem;}
  
  }

  /* collection page */

  .skillBar {
    padding: 0px 1px;
}
  .contentContainer {
    max-width: 194px;
    min-width: 127px;
    margin: 0 auto;
    margin-top: 0;
    padding: 0;
  }
  .skillBarContainer {
    width: 100%;
    max-width: 350px;
    height:3px;
    background: #E2E2E2;
    overflow: hidden;    border-radius: 21px;
  }
  .skillBarValue {
    height: 3px;
    float: left;
    background:#232936;
  }
  @-webkit-keyframes slideIn {
    0% { width: 0; }
    25% { width:100%; }
    100% { width: normal; }
  }
  @-moz-keyframes slideIn {
    0% { width: 0; }
    25% { width:100%; }
    100% { width: normal; }
  }
  @-ms-keyframes slideIn {
    0% { width: 0; }
    25% { width:100%; }
    100% { width: normal; }
  }
  @-o-keyframes slideIn {
    0% { width: 0; }
    25% { width:100%; }
    100% { width: normal; }
  }
  @keyframes slideIn {
    0% { width: 0; }
    25% { width:100%; }
    100% { width: normal; }
  }
  .skillBarValue {
    -webkit-animation: slideIn 2s;
    -moz-animation: slideIn 2s;
    -o-animation: slideIn 2s;
    animation: slideIn 2s;
  }
  
  /* quiz */
  .trigger-class .oct-quiz-rich-text p{margin: 0 !important; padding: 0; font-size: 1.8rem !important; font-weight: 400; line-height: 21px; font-family: 'Arial' !important;}
  .trigger-class .oct-quiz-btn--primary.oct-quiz-btn--large{min-height: 48px !important; font-family: 'Arial' !important; min-width:220px; font-size: 1.4rem !important; font-weight: 400; text-transform: uppercase !important;}
  .trigger-class .oct-quiz-btn--primary.oct-quiz-btn--large:hover{box-shadow:none !important; transform: none!important; background: transparent !important; color: #232936 !important;}

  .trigger-class .oct-quiz-btn--secondary.oct-quiz-btn--large{min-height: 48px !important; font-family: 'Arial' !important; min-width:220px; font-size: 1.4rem !important; font-weight: 400; text-transform: uppercase !important;}
  .trigger-class .oct-quiz-btn--secondary.oct-quiz-btn--large:hover{box-shadow:none !important; transform: none!important; background: #232936 !important; color: #fff !important;}

  .trigger-class .oct-quiz-title{font-family: 'Adobe Garamond Pro' !important;}
  .oct-quiz-picture-choice-options .oct-quiz-picture-choice-options__option{font-size: 1.4rem !important; margin: 0 16px 32px 16px !important; font-weight: 400; text-transform: uppercase !important; font-family: 'Arial' !important;}
  .oct-quiz-picture-choice-options .oct-quiz-picture-choice-options__option div:first-child{margin:23px auto !important; max-width:100px; max-height: 100px; background-size: 100% !important; padding: 52% 0 0 !important;}
  .trigger-class .oct-quiz-picture-choice-options__option:hover{color: #fff !important;}
  .oct-quiz-btn.oct-quiz-btn--secondary-text{font-size: 1.3rem !important; margin-top:95px !important; font-weight: 400 !important; font-family: 'Arial' !important; text-transform: capitalize !important;}
  .oct-quiz-btn.oct-quiz-btn--secondary-text:hover{box-shadow: none !important; transform: none; font-size: 1.3rem !important; font-weight: 400 !important; font-family: 'Arial' !important;}
  .trigger-class .oct-quiz-multiple-choice-options__option{min-width: 192px; padding: 20px 16px !important; font-size: 1.4rem !important; font-family: 'Arial' !important;}
  .trigger-class .oct-quiz-multiple-choice-options__option:hover{color: #fff; transform: none!important; box-shadow: none !important;}  
  .trigger-class .oct-quiz-email-wrapper input{text-align: left !important; font-size: 1.5rem !important; font-weight: 400; letter-spacing: 0.2px; background: transparent !important;}




  @media(min-width:768px){
 .trigger-class .oct-quiz-title{font-size: 35px !important; line-height: 35px;}
 .trigger-class .oct-quiz-btn-wrapper{padding-top:4rem !important;}

  }
  @media(max-width:767px){
  .trigger-class .oct-quiz-rich-text p{font-size: 1.6rem !important;}
.oct-quiz-picture-choice-options .oct-quiz-picture-choice-options__option div:first-child { margin: 2px 0 2px 10px!important; max-width: 50px; max-height: 50px; background-size: 100%!important; padding: 20% 0 0!important;}
.oct-quiz-picture-choice-options .oct-quiz-picture-choice-options__option{padding:0 !important; margin: 0 0px 16px!important; display: flex !important; align-items: center;}
.oct-quiz-picture-choice-options.oct-quiz-picture-choice-options--ratio-custom {margin:0 !important;} 
.oct-quiz-wrapper.oct-quiz-wrapper--picture-choice, .oct-quiz-wrapper.oct-quiz-wrapper--multiple-choice,
.oct-quiz-wrapper.oct-quiz-wrapper--email{padding: 20px 0 !important;}
.trigger-class .oct-quiz-multiple-choice-options__option{width: 100%;}
  }
 

  #swell-overlay{display: none!important;}
 

  /* Loyal */
  
  .yotpo-reward-steps-item.yotpo-reward-steps-item-1,.yotpo-reward-steps-item.yotpo-reward-steps-item-2,.yotpo-reward-steps-item.yotpo-reward-steps-item-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 0fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.yotpo-step-icons.yotpo-reward-steps-icon {
    grid-area: 1 / 1 / 3 / 2;
}

.yotpo-customized-text.yotpo-reward-steps-title {
    grid-area: 1 / 2 / 2 / 4;
    padding: 0!important;
    margin: 0;
    min-height: 25px;
    height: 27px;
    text-align: left;
}

.yotpo-customized-text.yotpo-reward-steps-description {
    grid-area: 2 / 2 / 3 / 4;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 17px;
}

.yotpo-customized-text.yotpo-reward-steps-title .yotpo-inner-text {
    font-size: 20px!important;
    font-family: 'Adobe Garamond Pro'!important;
    color: #000000!important;
    font-weight: 400!important;
}
.yotpo-customized-text.yotpo-reward-steps-description .yotpo-inner-text {
    font-size: 1.5rem!important;
    font-weight: 400!important;
    line-height: 17px!important;
    font-family: Arial!important;
}
.yotpo-title,.yotpo-inner-text {
  letter-spacing: 0!important;
  font-family: Adobe Garamond Pro!important;
  font-size: 3.5rem!important;
  font-weight: 400!important;
  line-height: 42px!important;
  color: #232936!important;
}

.yotpo-description {
  font-size: 1.5rem!important;
  font-weight: 400!important;
  line-height: 21px!important;
  letter-spacing: 0.2px!important;
  font-family: Arial!important;
  color: rgba(var(--color-foreground))!important;
}

a.yotpo-primary-button-link {
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.yotpo-action-button-widget .yotpo-filled-button span,button.yotpo-button-style.yotpo-button-standard-size.yotpo-rectangular-btn-type span {
  font-style: normal!important;
  font-weight: 400!important;
  font-size: 1.4rem!important;
  line-height: 14px!important;
  letter-spacing: 1px!important;
  text-transform: uppercase!important;
}

.yotpo-primary-button button.yotpo-button-style.yotpo-button-standard-size.yotpo-rectangular-btn-type {
  background: #232936!important;
}

.yotpo-secondary-button button.yotpo-button-style.yotpo-button-standard-size.yotpo-rectangular-btn-type {
  color: #232936!important;
}

/* product page */
.product .product__title h1{font-weight: 400; font-size: 2.8rem;}
.yotpo .text-m{font-size: 1.3rem!important; text-underline-offset: 3px; text-decoration-thickness: 1px; font-weight: 400; text-decoration: underline !important;}
.product .product__description{font-size: 1.5rem; font-weight: 400; letter-spacing: 0.2px; line-height: 21px;}
.product .product-form__input .form__label{font-size: 1.2rem; font-weight: 400; text-transform: uppercase; letter-spacing: 1px;} 
.product .product-form__input input[type=radio]+label{font-size: 1.5rem; font-weight: 400; padding: 1.4rem 1.6rem; text-transform: uppercase; letter-spacing: 0.2px;} 

.yotpo-widget-subscriptions-add-to-cart .yotpo-radio-container.yotpo-selected{background: #fff!important; border:1px solid #232936 !important; border-radius: 0 !important;}
.yotpo-widget-subscriptions-add-to-cart .yotpo-radio-label .yotpo-radio-label-text,
.yotpo-subscription-label-prefix{font-size: 1.5rem!important; font-family: 'Arial' !important; font-weight: 400; letter-spacing: 0.2px!important; color: #232936!important;}
.yotpo-widget-subscriptions-add-to-cart .yotpo-radio-container{padding: 12px 15px !important; margin: 8px 0 !important; background: #F8F6F2 !important; border: 1px solid #BDBFC3 !important; border-radius: 0 !important;}
.yotpo-widget-subscriptions-add-to-cart .yotpo-radio-label-input{display: none !important;}
.yotpo-widget-subscriptions-add-to-cart .yotpo-frequency-options{margin: 20px 0 0 0!important;}
.yotpo-widget-subscriptions-add-to-cart .yotpo-selected .yotpo-subscription-label-price{font-size: 1.5rem!important; font-family: 'Arial' !important; font-weight: 700 !important;}
.shopify-payment-button__button{font-weight: 400; font-size: 1.4rem !important; letter-spacing: 1px !important; text-transform: uppercase !important;}
.shopify-payment-button__button:before, .shopify-payment-button__button:after{display: none !important;}
button.shopify-payment-button__button--unbranded, .product-form__buttons .button{min-height: calc(4.3rem + var(--buttons-border-width) * 2) !important; line-height: 14px !important;}
.product-form__buttons{margin-top:2rem !important;}
.yotpo-widget-subscriptions-add-to-cart .yotpo-subscription-label-price{font-size: 1.5rem!important; font-family: 'Arial' !important; font-weight: 700 !important;}
.yotpo-widget-subscriptions-add-to-cart .yotpo-select-wrapper{height: auto !important;}
.yotpo-widget-subscriptions-add-to-cart .yotpo-radio-and-dropdown-label{font-size: 1.5rem!important; font-family: 'Arial' !important; letter-spacing: 0.2px !important; font-weight: 400 !important;}

/* ingredients-con */
.ingredients-con ul{list-style: none; padding: 0; margin: 20px 0;}
.ingredients-con ul li{border-bottom: 1px solid #E2E2E2; padding: 13px 0;}
.ingredients-con ul li:first-child{border-top: 1px solid #E2E2E2;}
.ingredients-con ul li h4{font-size: 1.2rem; font-weight: 400; letter-spacing: 1px; text-transform: uppercase; margin: 0; padding: 0; font-family: 'Arial' !important;}
.ingredients-con ul li p, .ingredients-con ul li a{font-size: 1.5rem; font-weight: 400; letter-spacing: 0.2px; margin: 0; padding: 5px 0 0 0;}
.ingredients-con ul li a{text-decoration: underline; text-decoration-thickness: 1px; text-underline-offset: 5px;}
.ingredients-con ul li a:hover{text-decoration: none;}


.awards-con ul{list-style: none; padding: 0; margin: 10px 0;}
.awards-con ul li{border-bottom: 1px solid #E2E2E2; padding: 13px 0;}
.awards-con ul li h4{font-size: 1.2rem; font-weight: 400; letter-spacing: 1px; text-transform: uppercase; margin: 0; padding: 0; font-family: 'Arial' !important;}
.awards-con ul li p{font-size: 1.3rem; font-weight: 400; letter-spacing: 0px; margin: 0; padding: 5px 0 0 0;}
.awards-img{display: flex; margin-top: 5px;}
.awards-img img{margin-right:5px; width:66px;}

/* customer reviews */

.yotpo div{font-family: 'Arial' !important;}

.write-question-review-buttons-container .write-question-review-button .write-question-review-button-text{font-family: 'Arial' !important; letter-spacing: 1px !important; text-transform: uppercase; font-size: 1.4rem !important; font-weight: 400 !important;}
.write-question-review-buttons-container .yotpo-default-button.write-question-review-button{height: 50px !important; padding: 8px 30px!important;}
.main-widget .bottom-line-items{text-align: left !important;}
.bottom-line-items-container .reviews-qa-labels-container .reviews-qa-label{font-family: 'Arial' !important; font-weight: 400; font-size: 1.8rem !important;}
.yotpo-display-wrapper .yotpo-regular-box.bottom-line-items-container{padding: 0 !important;}
.yotpo-display-wrapper{display: inline-block !important;}
.yotpo .yotpo-nav ul .yotpo-nav-tab.yotpo-active .yotpo-nav-wrapper{border-bottom: 1px solid #232936 !important;}
.yotpo .yotpo-nav ul .yotpo-nav-tab.yotpo-active span{color: #232936 !important;}
.yotpo .yotpo-nav li .yotpo-nav-wrapper{font-size: 14px !important; font-weight: 400 !important; color: #4F5861 !important; letter-spacing: 1px; text-transform: uppercase;}
.yotpo .yotpo-nav li{margin-bottom: 0 !important;}


/* feature collections */
.title-tab-wrap, .title-tab-wrap ul {display: flex; align-items: center; justify-content: space-between; padding-left: 0;}
.title-tab-wrap ul li {list-style: none; margin-right: 32px; cursor: pointer;}
.title-tab-wrap ul {margin-top: 5rem;}
.title-tab-wrap ul li:last-child{margin-right:0;}


























